//颜色变量

$red: #cc0000;
$logo-color:#aa3135; //logo下字颜色
$header-color: #51ca94;//头部按钮之类的主要颜色
$inline-color: #3daf7b;//界面内颜色特效等颜色
$do-color: #ef4242; //我的任务界面未打扫标签
$did-color: #51ca94; //我的任务界面已打扫标签


.input-wrapper{
  width: 100%;
  height: 2.25rem;
  text-align: left;
  font-size: 0.65rem;
  line-height: 2.25rem;
  background-color: #fff;
  padding: 0 3%;
  display: block;

  .input-wrapper-box{
    border-bottom: 0.025rem solid #eee;
    height: 100%;
    width: 100%;

    div{
      float: left;
    }

    .title-box{
      float: left;
      display: inline-block;
      width: 28%;
    }//title-box

    .input-box{
      width: 72%;
      height: 80%;

      input{
        height: 100%;
        width: 100%;
      }
    }//input-box

    .date-choose{
      display: inline-block;
      height: 100%;
      width: 72%;

      input{
        display: inline-block;
        width: 30%;
      }

      i{
        float: right;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }//date-choose
  }//input-wrapper-box

}
/*input-wrapper*/


